.container {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
}

.cell {
  border: 1px solid black;
}

/* .cell:hover {
  background-color: yellow;
} */

.gridSizeButton {
  padding: 10px;
}
